#Homepage {
    section {
        position: relative;
        padding: 0 2.5rem;

        .title {
            font-size: 1.75rem;
            font-weight: bold;
            text-align: center;
            padding-bottom: 2rem;
        }

        .wave-curve {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }

        .wave-curve svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 129px;
        }

        .wave-curve .shape-fill {
            fill: var(--dark-teal-theme);
        }
    }

    section:first-child {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 2rem;
        padding-bottom: 2rem;

        /* img background */
        background-image: url("./../assets/rental-products2.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 2rem;
        }

        @media only screen and (min-width: 1024px) {
            min-height: calc(100vh - 5.375rem);
            max-width: 90rem;
            margin-right: auto;
            margin-left: auto;
        }

        @media only screen and not (min-width: 768px) {
            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 1rem;
            }
        }
    }

    .video-hero {
        pointer-events: none;
    }

    .video-hero>* {
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        max-width: none;
        height: auto;
        width: auto;
        transform: translate(-50%, -50%);
    }

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .welcome-content {
        position: relative;
        z-index: 1;
        font-weight: bold;

        .actions-wrapper {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
        }
    }

    @-webkit-keyframes float {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .floating-animation {
        -webkit-animation: float 3s ease-in-out infinite;
        animation: float 3s ease-in-out infinite;
    }

    .see-available-categories {
        margin: 0 auto;
        padding: 3rem 0 5rem;
        max-width: 50rem;

        ul.categories-list {
            display: flex;
            justify-content: space-between;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;

            >li:not(:last-child) {
                margin-right: 1rem;
            }

            .category-tile {
                padding: 1.5rem;
                width: 8.5rem;
                background-color: var(--button-primary-text-color);
                border-radius: 0.5rem;
                text-align: center;
                cursor: pointer;
                overflow: hidden;
                transition: background-color .3s ease-in-out;
                box-shadow: 0 2px 4px rgba(0, 0, 0, .16078);
            }

            .category-tile:hover .category-icon>svg {
                transform: translateY(-0.5rem);
            }

            .category-icon {
                position: relative;
                margin: 0 auto 0.5rem;
                text-align: -webkit-center;
                /* text-align: center; */
            }

            .category-icon>svg {
                transition: transform .1s ease-in-out;
            }
        }
    }

    .products-section {
        padding-bottom: 5rem;

        .products-list {
            display: grid;
            gap: 0.75rem;
            grid-template-rows: 364px;

            @media only screen and not (min-width: 600px) {
                grid-template-columns: auto;
            }

            @media only screen and (min-width: 600px) {
                grid-template-columns: calc(50% - 0.75rem) 50%;
            }

            @media only screen and (min-width: 800px) {
                grid-template-columns: calc(100%/3 - 0.75rem) calc(100%/3 - 0.75rem) calc(100%/3);
            }

            @media only screen and (min-width: 1024px) {
                grid-template-columns: calc(25% - 0.75rem) calc(25% - 0.75rem) calc(25% - 0.75rem) 25%;
            }
        }

        .explore-more-rentals {
            margin-top: 2rem;
            text-align: center;
        }
    }

    .why-us {
        margin-top: 5rem;

        .title {
            @media only screen and (min-width: 1024px) {
                border-bottom: 2px solid;
                margin-bottom: 1rem;
            }
        }

        .why-us-panel {
            @media only screen and (max-width: 1023px) {
                text-align: center;
            }

            @media only screen and (min-width: 1024px) {
                display: flex;
                gap: 1rem;
            }

            .why-us-each-section {
                margin: 1rem 0 1.875rem;
                text-align: -webkit-center;

                img {
                    margin-bottom: 1rem;
                }

                h5 {
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 0.625rem;
                }
            }
        }
    }

    .spacer {
        aspect-ratio: 960/300;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        /* margin-bottom: -5rem; */
        @media only screen and (min-width: 768px) {
            margin-top: -200px;
        }

        @media only screen and (min-width: 1024px) {
            margin-top: -200px;
        }

        @media only screen and (min-width: 1200px) {
            margin-top: -250px;
        }
    }

    .layered-wave {
        background-image: url('./../assets/layered-waves-haikei.svg');
    }
}