.manage-product-card{
    border-radius: 20px !important;
    max-width: 250px;
    height: auto;
}
.product-image-card{
    border-bottom: 2px;
    border-bottom-color: #4f6578;
    min-height: 150px;
    max-height: 150px;
    /*max-width: 200px;*/
    text-align: center;
}
.pd-description{
    min-height: 40px;
    padding-bottom: 5px;
    overflow: auto;
}